apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- secret.yaml
- ingress.yaml
- redis.yaml
- hpa.yaml
- ../../../base/
- viewer-count.yaml
- deployment-fifo-worker.yaml
- polling-harvest-job-and-update-video.yaml
patchesStrategicMerge:
- deployment-dreamkast.yaml
namespace: dreamkast-staging
images:
- name: 607167088920.dkr.ecr.ap-northeast-1.amazonaws.com/dreamkast-ecs
  newTag: 6766135db5e6cb4ec5a65f7b0a9313c16d264f44
- name: 607167088920.dkr.ecr.ap-northeast-1.amazonaws.com/dreamkast-ui
  newTag: ae7a5746936cc20b7858f38dc8f12ea0ecb1595f
