apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: dreamkast-staging-main
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io # cascade deletion on this App deletion
  annotations:
    argocd-image-updater.argoproj.io/image-list: >
      dreamkast=607167088920.dkr.ecr.ap-northeast-1.amazonaws.com/dreamkast-ecs
    argocd-image-updater.argoproj.io/dreamkast.update-strategy: latest
    argocd-image-updater.argoproj.io/dreamkast.allow-tags: regexp:^main-.*$
    argocd-image-updater.argoproj.io/write-back-method: git:secret:argocd/git-creds
    argocd-image-updater.argoproj.io/write-back-target: kustomization:../../dreamkast/overlays/staging/main
    argocd-image-updater.argoproj.io/git-branch: main
spec:
  destination:
    namespace: dreamkast-staging
    server: https://kubernetes.default.svc
  project: app
  source:
    path: manifests/app/dreamkast/overlays/staging/main
    repoURL: https://github.com/cloudnativedaysjp/dreamkast-infra.git
    targetRevision: main
  syncPolicy:
    automated:
      prune: true
    syncOptions:
    - CreateNamespace=true
