apiVersion: autoscaling/v2beta2
kind: HorizontalPodAutoscaler
metadata:
  name: dreamkast
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: dreamkast
  minReplicas: 5
  maxReplicas: 20
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 2400
      policies:
      - type: Pods
        value: 1
        periodSeconds: 60
---
apiVersion: autoscaling/v2beta2
kind: HorizontalPodAutoscaler
metadata:
  name: dreamkast-ui
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: dreamkast-ui
  minReplicas: 10
  maxReplicas: 20
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 2400
      policies:
      - type: Pods
        value: 1
        periodSeconds: 60
