apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- secret.yaml
- ingress.yaml
- hpa.yaml
- cronjob.yaml
- polling-harvest-job-and-update-video.yaml
- ../../../base/
- viewer-count.yaml
- deployment-fifo-worker.yaml
patchesStrategicMerge:
- deployment-dreamkast.yaml
images:
- name: 607167088920.dkr.ecr.ap-northeast-1.amazonaws.com/dreamkast-ecs
  newTag: 94e0eac2a55a8fa8962887fab6ac5c2644f46ddd
- name: 607167088920.dkr.ecr.ap-northeast-1.amazonaws.com/dreamkast-ui
  newTag: 06f84e9632fbf60f19c166740c3f7af5405bc00e
namespace: dreamkast
