apiVersion: kubernetes-client.io/v1
kind: ExternalSecret
metadata:
  name: prometheus-basic-auth-password
  namespace: projectcontour-auth
spec:
  backendType: secretsManager
  data:
  - key:  observability/production-env
    name: auth
    property: prometheus-basic-auth
  template:
    metadata:
      annotations:
        projectcontour.io/auth-type: basic
