apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: dreamkast-api-mock
resources:
- deployment.yaml
- ingress.yaml
- service.yaml
images:
- name: 607167088920.dkr.ecr.ap-northeast-1.amazonaws.com/dreamkast-api-mock
  newTag: b9bd18ca8052a9d72f4bca53339c7899dbeb0a37
- name: dreamkast-api-mock
  newName: 607167088920.dkr.ecr.ap-northeast-1.amazonaws.com/dreamkast-api-mock
  newTag: 329df4c0aa0cb53796a112aae00dcf7530b5b26e
