---
extensions:
  health_check:

receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
  hostmetrics:
    collection_interval: 1m
    scrapers:
      cpu:
      disk:
      filesystem:
      load:
      memory:
      network:
      paging:

processors:
  attributes/app:
    actions:
      - action: upsert
        key: service.namespace
        value: dreamkast
      - action: upsert
        key: service.name
        value: dreamkast-weaver
      - action: upsert
        key: deployment.environment.name
        value: prod
  resourcedetection/app:
    detectors: [env, ecs]
    timeout: 2s
    override: false

exporters:
  mackerelotlp:

service:
  pipelines:
    metrics/app:
      receivers: [otlp, hostmetrics]
      processors: [attributes/app, resourcedetection/app]
      exporters: [mackerelotlp]
  extensions: [health_check]
