apiVersion: policy/v1beta1
kind: PodDisruptionBudget
metadata:
  name: dreamkast-pdb
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: dreamkast
---
apiVersion: policy/v1beta1
kind: PodDisruptionBudget
metadata:
  name: dreamkast-ui-pdb
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: dreamkast-ui
