apiVersion: monitoring.coreos.com/v1
kind: Alertmanager
metadata:
  name: k8s
  namespace: monitoring
spec:
  replicas: 2
  alertmanagerConfigSelector:
    matchLabels:
      alertmanagerConfig: k8s
---
apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: k8s
  namespace: monitoring
  labels:
    alertmanagerConfig: k8s
spec:
  route:
    groupBy: ['alertname']
    groupWait: 30s
    groupInterval: 5m
    repeatInterval: 12h
    receiver: 'slack-cloudnativedays'
  receivers:
  - name: 'slack-cloudnativedays'
    slackConfigs:
    - apiURL:
        name: slack-cloudnativedays
        key: dreamkast-monitoring_webhook_url
      channel: "dreamkast-monitoring"
---
apiVersion: v1
kind: Service
metadata:
  name: alertmanager-main
  namespace: monitoring
spec:
  ports:
  - name: web
    port: 9093
    protocol: TCP
    targetPort: web
  selector:
    alertmanager: k8s
