---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd-notifications-configs
  namespace: argocd
spec:
  destination:
    namespace: argocd
    server: https://kubernetes.default.svc
  project: infra
  source:
    path: manifests/infra/argocd-notifications/overlays/production
    repoURL: https://github.com/cloudnativedaysjp/dreamkast-infra.git
    targetRevision: main
  syncPolicy:
    automated:
      prune: true
    syncOptions:
    - CreateNamespace=true
