---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: metrics-server
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io # cascade deletion on this App deletion
spec:
  destination:
    namespace: argocd
    server: https://kubernetes.default.svc
  project: monitoring
  source:
    path: manifests/release
    repoURL: https://github.com/kubernetes-sigs/metrics-server.git
    targetRevision: v0.4.2
  syncPolicy:
    automated:
      prune: true
    syncOptions:
    - CreateNamespace=true
