name: ecspresso preview

on:
  pull_request:
    branches: ["main"]
    paths:
      - 'ecspresso/**'

# this workflow should be processed by FIFO
concurrency: ecspresso

jobs:
  preview:
    runs-on: "ubuntu-latest"
    permissions:
      contents: read
      pull-requests: write
      id-token: write
    timeout-minutes: 10
    strategy:
      matrix:
        environment:
          - stg
          - prod
          - reviewapps
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          aws-region: ap-northeast-1
          role-to-assume: "arn:aws:iam::607167088920:role/github-actions-dreamkast"


      - name: Install ecspresso
        uses: kayac/ecspresso@e048f284f6b81b4f99085a963838c762be99361c # v2

      - name: ecspresso preview
        id: preview
        continue-on-error: true
        working-directory: ecspresso
        shell: bash -x {0}
        run: |
          failed=0
          for config in $(find . -name "ecspresso.jsonnet" -o -name "ecspresso.taskdef.jsonnet" | grep -E "^./${{ matrix.environment }}" | grep -v "reviewapps/template" ); do
            if ! ecspresso --config="$config" diff >> preview.stdout.txt 2> preview.stderr.txt; then
              failed=1
              break
            fi
          done

          echo "status=$failed"  >> "$GITHUB_OUTPUT"

          function no-color {
            sed -r "s/\x1B\[([0-9]{1,2}(;[0-9]{1,2})?)?[mGK]//g"
          }
          {
            echo "stdout<<EOF"
            no-color < preview.stdout.txt
            echo "EOF"
          } >> "$GITHUB_OUTPUT"
          {
            echo "stderr<<EOF"
            no-color < preview.stderr.txt
            echo "EOF"
          } >> "$GITHUB_OUTPUT"

      - name: report for preview
        uses: marocchino/sticky-pull-request-comment@773744901bac0e8cbb5a0dc842800d45e9b2b405 # v2.9.4
        if: steps.preview.outputs.status == '0'
        with:
          header: "preview for ${{ matrix.environment }}"
          message: |
            <details>
            <summary>:white_check_mark: Preview for ${{ matrix.environment }}</summary>

            ```diff
            ${{ steps.preview.outputs.stdout }}
            ```
            </details>

      - name: report error for preview
        uses: marocchino/sticky-pull-request-comment@773744901bac0e8cbb5a0dc842800d45e9b2b405 # v2.9.4
        if: steps.preview.outputs.status == '1'
        with:
          header: "preview for ${{ matrix.environment }}"
          message: |
            <details>
            <summary>:fire: Preview failed for ${{ matrix.environment }}</summary>

            ```diff
            ${{ steps.preview.outputs.stderr }}
            ```
            </details>

      - name: raise error
        if: steps.preview.outputs.status == '1'
        run: exit 1
