name: ecspresso deploy

on:
  push:
    branches: ["main"]
  repository_dispatch:
    types: [trigger-ecspresso]

# this workflow should be processed by FIFO
concurrency: ecspresso

permissions:
  contents: read
  id-token: write

jobs:
  ecspresso:
    strategy:
      matrix:
        environment:
        - prod
        - stg
        - reviewapps
    runs-on: "ubuntu-latest"
    permissions:
      contents: read
      id-token: write
    timeout-minutes: 30
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          aws-region: ap-northeast-1
          role-to-assume: "arn:aws:iam::607167088920:role/github-actions-dreamkast"

      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: Install ecspresso
        uses: kayac/ecspresso@e048f284f6b81b4f99085a963838c762be99361c # v2
      - name: Install ecschedule
        uses: Songmu/ecschedule@f7cf72e12885168815ae575166aee38b055066d0 # v0.17.2

      #
      # ecschedule
      #
      - name: register taskdef for ecschedule
        working-directory: "ecspresso/${{matrix.environment}}"
        run: |
          # shellcheck disable=SC2016
          find . -name "ecspresso.taskdef.jsonnet" | grep -vE "^./template" \
            | xargs -I{} -P10 bash -c \
            '[ "$(ecspresso --config={} diff)" = "" ] || ecspresso --config={} register'
      - name: ecschedule apply
        working-directory: "ecspresso/${{matrix.environment}}"
        run: |
          find . -name "ecschedule.jsonnet" | grep -vE "^./template" \
            | xargs -I{} -P10 bash -c \
            'ecschedule apply -conf {} -all'

      #
      # ecspresso
      #
      - name: run ecspresso
        working-directory: "ecspresso/${{matrix.environment}}"
        run: |
          # shellcheck disable=SC2016
          find . -name "ecspresso.jsonnet" | grep -vE "^./template" \
            | xargs -I{} -P10 bash -c \
            '[ "$(ecspresso --config={} diff)" = "" ] || ecspresso --config={} deploy'

