name: ecspresso deploy

on:
  push:
    branches: ["main"]
  repository_dispatch:
    types: [trigger-ecspresso]

# this workflow should be processed by FIFO
concurrency: ecspresso

permissions:
  contents: read
  id-token: write

jobs:
  ecspresso:
    strategy:
      matrix:
        environment:
        - prod
        - stg
        - reviewapps
    runs-on: "ubuntu-latest"
    permissions:
      contents: read
      id-token: write
    timeout-minutes: 30
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          aws-region: ap-northeast-1
          role-to-assume: "arn:aws:iam::607167088920:role/github-actions-dreamkast"

      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Install ecspresso
        uses: kayac/ecspresso@e048f284f6b81b4f99085a963838c762be99361c # v2
      - name: Install ecschedule
        uses: Songmu/ecschedule@5fcc5e5b08af78d797c2b9e94b6f9a8ff9f7b626 # v0.15.3

      #
      # ecschedule
      #
      - name: register taskdef for ecschedule
        working-directory: "ecspresso/${{matrix.environment}}"
        run: |
          # shellcheck disable=SC2016
          find . -name "ecspresso.taskdef.jsonnet" | grep -vE "^./template" \
            | xargs -I{} -P10 bash -c \
            '[ "$(ecspresso --config={} diff)" = "" ] || ecspresso --config={} register'
      - name: ecschedule apply
        working-directory: "ecspresso/${{matrix.environment}}"
        run: |
          find . -name "ecschedule.jsonnet" | grep -vE "^./template" \
            | xargs -I{} -P10 bash -c \
            'ecschedule apply -conf {} -all'

      #
      # ecspresso
      #
      - name: run ecspresso
        working-directory: "ecspresso/${{matrix.environment}}"
        run: |
          # shellcheck disable=SC2016
          find . -name "ecspresso.jsonnet" | grep -vE "^./template" \
            | xargs -I{} -P10 bash -c \
            '[ "$(ecspresso --config={} diff)" = "" ] || ecspresso --config={} deploy'

