name: ecspresso format

on:
  pull_request:
    branches: ["main"]
    paths:
      - 'ecspresso/**'

jobs:
  format:
    if: ${{ ! startsWith(github.head_ref, 'gitops/') }}
    runs-on: "ubuntu-latest"
    permissions:
      contents: write
    timeout-minutes: 5
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          ref: ${{ github.head_ref }}
          persist-credentials: false

      - name: Install Go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0

      - name: Install jsonnetfmt
        run: |
          go install github.com/google/go-jsonnet/cmd/jsonnetfmt@latest

      - name: jsonnet format
        working-directory: ecspresso
        run: |
          find . \( -name "*.jsonnet" -or -name "*.libsonnet" \) -exec jsonnetfmt -i {} \;

      - name: check diff
        id: check-diff
        run: |
          git add . --intent-to-add
          if git diff --exit-code --quiet HEAD --; then
            echo "changes=false" >> "$GITHUB_OUTPUT"
          else
            echo "changes=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Commit and push changes
        if: steps.check-diff.outputs.changes == 'true'
        uses: suzuki-shunsuke/commit-action@f12e2d628a4ab72dcefe7890ae07e8dbf1e201b9 # v0.1.1
        with:
          repository: cloudnativedaysjp/dreamkast-infra
          branch: ${{ github.head_ref }}
          github_token: ${{ github.token }}
          commit_message: |
            execute jsonnetfmt
