name: Auto Warm-up ECS Replicas

on:
  schedule:
    - cron: '0 15 * * *'  # every 00:15 AM (JST)
  workflow_dispatch:

env:
  ENVIRONMENT: prod

jobs:
  auto_warm_up:
    runs-on: ubuntu-latest
    permissions: {}
    timeout-minutes: 10

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Get event schedule
        id: is_conference_day
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const response = await fetch('https://event.cloudnativedays.jp/api/v1/events')
            const events = await response.json()
            const today = new Date()
              .toLocaleDateString('ja-JP', { timeZone: 'Asia/Tokyo' })
              .replace(/\//g, '-')
              .replace(/-(\d)(?=-|$)/g, '-0$1')
            console.log(`today: ${today}`)
            const isConferenceDay = events.some(event =>
              event.conferenceDays.some(day => day.date === today)
            )
            console.log(`isConferenceDay: ${isConferenceDay}`)
            return isConferenceDay

      - name: Scale replicas
        run: |
          is_conference_day="${{ steps.is_conference_day.outputs.result }}"
          replicas_files=(
            "ecspresso/${{ env.ENVIRONMENT }}/dreamkast/vars/replicas.json"
            "ecspresso/${{ env.ENVIRONMENT }}/dreamkast-ui/vars/replicas.json"
            "ecspresso/${{ env.ENVIRONMENT }}/dreamkast-weaver/vars/replicas.json"
          )

          for replicas_file in "${replicas_files[@]}"; do
            if [ "$is_conference_day" == "true" ]; then
              replicas=10
            else
              replicas=1
            fi
            echo "$replicas" > "$replicas_file"
          done

      - name: Switch disabled flags
        run: |
          is_conference_day="${{ steps.is_conference_day.outputs.result }}"
          disabled_files=(
            "ecspresso/${{ env.ENVIRONMENT }}/harvestjob/vars/disabled.json"
          )

          for disabled_file in "${disabled_files[@]}"; do
            if [ "$is_conference_day" == "true" ]; then
              res="false"
            else
              res="true"
            fi
            echo "$res" > "$disabled_file"
          done

      - name: check diff
        id: check-diff
        run: |
          git add . --intent-to-add
          if git diff --exit-code --quiet HEAD --; then
            echo "changes=false" >> "$GITHUB_OUTPUT"
          else
            echo "changes=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Commit and push changes
        if: steps.check-diff.outputs.changes == 'true'
        uses: suzuki-shunsuke/commit-action@ca8e761ccb3533295065c3e90a8555fcdde8b467 # v0.0.10
        continue-on-error: true
        with:
          repository: cloudnativedaysjp/dreamkast-infra
          branch: main
          commit_message: |
            Auto-update replicas for conference day
          # to trigger other Actions by this push
          app_id: ${{secrets.APP_ID}}
          app_private_key: ${{secrets.APP_PRIVATE_KEY}}
